<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401594383453-79vt02s5b7mgobatu6clbdvd172gftlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401594383453-79vt02s5b7mgobatu6clbdvd172gftlf</string>
	<key>API_KEY</key>
	<string>AIzaSyBlYldyOc2uRWoaWr7mgV4RZqkNOQSenpM</string>
	<key>GCM_SENDER_ID</key>
	<string>401594383453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helps</string>
	<key>PROJECT_ID</key>
	<string>helps-61e01</string>
	<key>STORAGE_BUCKET</key>
	<string>helps-61e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401594383453:ios:4a9790a3873a2e4f3ba1b4</string>
</dict>
</plist>